html {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: linear-gradient(
		-225deg,
		#a445b2 0%,
		#d41872 52%,
		#ff0066 100%
	);
	min-height: 100%;
	padding-bottom: 5rem;
}

header {
	margin-top: 3rem;
}

header h1 {
	color: white;
}

textarea {
	height: 100px !important;
	overflow: hidden;
	resize: none;
}

svg {
	width: 21px;
}

input[type="date"] {
    text-transform: uppercase;
}

.title {
	font-weight: bold;
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

.container {
	background-color: white;
}

.list-dates .date {
	border-bottom: 1px solid #e1e1e1;
	padding: 2rem;
	padding-bottom: 3rem;
}

.list-dates .date:last-of-type {
	border-bottom: 0;
}

.list-dates .date p {
	margin: 0;
}

.list-dates .date button {
	margin-top: 1rem !important;
}

.list-dates .date span {
	font-weight: bold;
}
